.GoogleGossip .main {
  background-image: url("https://i.gifer.com/embedded/download/M0Yy.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.GoogleGossip .main2 {
  background-image: linear-gradient(
    to bottom,
    #3f51b5,
    rgb(248, 141, 141),
    #f17373
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.GoogleGossip .Text {
  font-size: 100px;
}
.GoogleGossip .main3 {
  background-image: linear-gradient(to bottom, #3f51b5, #7cddac);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.GoogleGossip .Teacup {
  display: flex;
  justify-content: center;
}
.GoogleGossip #Whisper {
  height: 200px;
  width: 200px;
}
.GoogleGossip #logo {
  height: 225px;
  width: 450px;
}
.GoogleGossip #landbuttton {
  color: white;
  border-color: white;
}
.GoogleGossip input {
  background-color: #dbdada;
  color: Black;
  border: 3px transparent;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 1px 5px black;
  -webkit-transition: width 2s linear 1s; /* For Safari 3.1 to 6.0 */
  transition: width 2s linear 1s;
}

.GoogleGossip input:focus {
  width: 500px;
  height: 100px;
}
.GoogleGossip #NewSession {
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
  border-color: transparent;
  width: 200px;
  height: 35px;
}
.GoogleGossip #NewSession:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d2f32, endColorstr=#1a1a1a);
}

.GoogleGossip .Hidden {
  display: none;
}

.MuiGrid-container-1269 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
