#mainTitle {
        text-align: center;
    }
    
body {
    background-image: url("https://img00.deviantart.net/0343/i/2013/048/b/b/pokemon_wallpaper___pikachu_by_kennedyzak-d5vb6hq.png");
}

.playerImage{
    width:160px;
}

.playerTwo{
    float:right;
}

#sub-title {
    text-align: center;
    color: red;
}

#mainBox{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#playerInfo2{
    position: absolute;
    top: 22%;
    left: 75%;
}

.fixed-btns {
    display: flex;
    margin: 0 auto;
}


/*.Attack2{*/
/*    position: relative;*/
/*    left: 40px;*/
    
/*}*/

/*.Attack3{*/
/*    position: relative;*/
/*    top: 50px;*/
/*    left: -180px;*/
/*}*/

/*.Attack4{*/
/*    position: relative;*/
/*    top: 50px;*/
/*    left: -140px;*/
/*}*/


/*.sub-tite {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/ 